<footer>
    <div class="pages">
        <a href="/">My List</a>
        <br>
        <a href="/work">Work List</a>
        <br>
        <a href="/about">About Me</a>
    </div>
    
    <div class="copyright">
        Copyright <%= year %> Syukri Hadi Kamil at SyoeMoet Production
    </div>
    
</footer>
</html>