body {
    margin: 0;
    text-align: center;
    color: #40514E;
    font-family: 'Merriweather', serif;
}
a {
    color: #11999E;
}
h1 {
    font-size: 5.625rem;
    color: #66BFBF;
    line-height: 2;
    margin: 50px auto 0;
    font-family: 'Sacramento', cursive;
}
h2 {
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
}
h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}
p {
    line-height: 2;
}
hr {
    margin: 50px auto;
    border:#bae7e7 6px;
    border-style: dotted none none;
    width: 5%;
}
.top-container {
    background-color: #EAF6F6;
    padding-top: 100px;
    position: relative;
}
.dev {
    text-decoration: underline;
}
.main-img {
    width: 40%;
}
.css {
    position: absolute;
    width: 5%;
    min-width: 1em;
    min-height: 1em;
    max-width: 5em;
    max-height: 5em;
    top: 30%;
    left: 25%;
}
.html {
    position: absolute;
    width: 5%;
    min-width: 1em;
    min-height: 1em;
    max-width: 5em;
    max-height: 5em;
    top: 10%;
    left: 35%;
}
.js {
    position: absolute;
    width: 5%;
    min-width: 1em;
    min-height: 1em;
    max-width: 5em;
    max-height: 5em;
    top: 45%;
    left: 70%;
}
.cameraman {
    position: absolute;
    width: 13%;
    min-width: 3em;
    min-height: 3em;
    max-width: 15em;
    max-height: 15em;
    top: 10%;
    left: 63%;
}
.middle-container {
    padding-top: 50px;
    padding-bottom: 20px;
}
.briefing {
    width: 30%;
    margin: 0px auto 40px;
}
.skill-row {
    width: 50%;
    margin: 100px auto 50px auto;
    text-align: left;
}
.video-img {
    width: 25%;
    max-width: 150px;
    max-height: 150px;
    float: left;
    margin-right: 30px;
}
.web-img {
    width: 25%;
    max-width: 150px;
    max-height: 150px;
    float: left;
    margin-right: 30px;
}
.blog-img {
    width: 25%;
    max-width: 150px;
    max-height: 150px;
    float: left;
    margin-right: 30px;
}

.engage {
    width: 40%;
    margin: 0 auto 50px;
}
.btn {
    background: #11999E;
    background-image: -webkit-linear-gradient(top, #11999E, #11999E);
    background-image: -moz-linear-gradient(top, #11999E, #11999E);
    background-image: -ms-linear-gradient(top, #11999E, #11999E);
    background-image: -o-linear-gradient(top, #11999E, #11999E);
    background-image: linear-gradient(to bottom, #11999E, #11999E);
    -webkit-border-radius: 18;
    -moz-border-radius: 18;
    border-radius: 18px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #66BFBF;
    background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -moz-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -ms-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -o-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: linear-gradient(to bottom, #66BFBF, #66BFBF);
    text-decoration: none;
  }
.bottom-container {
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 10px;   
    background-color: #66BFBF;
}
.footer-link {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin: auto 15px;
}
.footer-link:hover {
    color: #EAF6F6;
}
.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 10px 0;
}